body {
	background-color: $white;
	color: $dusty-gray;
	font-family: "verdana";
	font-size: 16px;
}

.jobad-form-container {
	margin: auto;
	max-width: 1024px;
	padding: 1em;
	border: 1px solid $black;
}

.jobad-container {
	margin: auto;
}
